     <h1>eceFTW!</h1>
     <p>Welcome to <a href="http://eceftw.com/"> eceFTW!</a> 
     </p>   
     <p>We need more Description</p>
     <%= link_to "Sign up now!", signup_path, :class=>"signup_button round" %>
