     <h1>eceFTW!</h1>
     <p>Welcome to <a href="http://eceftw.com/"> eceFTW!</a> 
     </p>   
     <p>This website is designed for UofT students only</p>
     <%= link_to "Sign up now!", '#', :class=>"signup_button round" %>
