<footer>
<nav class="round">
<ul>
  <li><%=link_to "About",'#'%></li>
  <li><%=link_to "Contact",'#'%></li>
  <li><%=link_to "UofT portal",'http://www.portal.utoronto.ca'%></li>
  <li><%=link_to "UToronto",'http://www.utoronto.ca'%></li>
